.red {
    fill: #ff417f;
    color: #ff417f;
}

.yellow {
    fill: #ffde59;
    color: #ffde59;
}

.blue {
    fill: #59baff;
    color: #59baff;
}

.green {
    fill: #35f035;
    color: #35f035;
}

.orange {
    fill: #ff9f35;
    color: #ff9f35;
}

.purple {
    fill: #a035ff;
    color: #a035ff;
}