* {
  --button-shadow: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  --button-shadow-red: drop-shadow(0px 0px 20px rgba(255, 0, 0, 0.4));
}

.circleBox {
  margin: 40vh 50px 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonCircle {
  cursor: pointer;
  -webkit-filter: var(--button-shadow);
  filter: var(--button-shadow);
}

.buttonCircle:active {
  transform: translate(0, 3px);
  -webkit-filter: var(--button-shadow-red);
  filter: var(--button-shadow-red);
}

.popOutAnimation {
  animation-duration: 1.5s;
  animation-name: popOut;
}

@keyframes popOut {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -100px);
  }
  50% {
    opacity: 100;
  }
  100% {
    transform: translate(0, 100px);
    opacity: 0;
  }
}

.gameMessage p {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  user-select: none;
}

.infomation {
  text-align: center;
}
.infomation p {
  font-size: 1.5rem;
  user-select: none;
}

.miniCircleBox {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.stageNum {
  position: absolute;
  /* コンテンツが内部の要素でギリギリの幅を設定 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  top: 0;
  right: 0;
  padding: 0 25px;
}

.stageNum p {
  text-align: center;
  user-select: none;
}

.stageNum div {
  font-size: 1.4rem;
  margin: 0;
}

.center-text {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: snow;
  font-size: 5rem;
  translate: 0 calc(-5rem);
  line-height: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}
