body {
  margin: 0;
  padding: 0;
  background-image: url("../img/quiz.webp");
}
.Container {
  width: 100vw;
  height: 90vh;
}

.returnButton {
  cursor: pointer;
}

.returnButton img {
  position: fixed;
  top: 1vw;
  left: 1vw;
  width: 80px;
  height: 80px;
}
.correctContainer {
  text-align: center;
  padding: 5%;
  margin: 7%;
  background: #ffffff;
  border-radius: 3%;
}
.correct {
  color: red;
  font-size: 500%;
}
.result {
  padding: 2%;
  margin: 2%;
}
.incorrect {
  color: blue;
  font-size: 500%;
}
.explanation {
  font-size: 250%;
  padding: 2%;
  margin: 3%;
}

button {
  /* 外側を丸くする */
  width: 40%;
  height: 50px;
  font-size: 100%;
  border-radius: 20px;
  color: white;
  background-color: rgb(251, 73, 73);
  border: rgb(251, 73, 73);
}
