body {
  margin: 0;
  padding: 0;
  background-image: url("../img/quiz.webp");
}
.Container {
  width: 100vw;
  height: 90vh;
}

.returnButton {
  cursor: pointer;
}

.returnButton img {
  position: fixed;
  top: 1vw;
  left: 1vw;
  width: 80px;
  height: 80px;
}

.correct {
  color: red;
  font-size: 500%;
  align-items: center;
  text-align: center;
  padding: 5%;
  margin: 7%;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 1%;
}
.result {
  align-items: center;
  text-align: center;
  padding: 2%;
  margin: 7%;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 1%;
}
.incorrect {
  color: blue;
  font-size: 500%;
}
.explanation {
  align-items: center;
  text-align: center;
  font-size: 250%;
  padding: 2%;
  margin: 7%;
  color: #5989cf;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 1%;
}

.nextButton {
  /* text-align: right; */
  position: fixed;
  left: 88%;
  bottom: 2.5%;
  width: 10%;
  height: 5%;
}
.nextButton button {
  width: 100%;
  height: 100%;
  font-size: 100%;
  /* 外側を丸くする */
  border-radius: 20px;
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(251, 73, 73);
}
