body {
  margin: 0;
  padding: 0;
  background-image: url("../img/quiz.webp");
}

.returnButton {
  cursor: pointer;
}

.returnButton img {
  position: fixed;
  top: 1vw;
  left: 1vw;
  width: 80px;
  height: 80px;
}

.box {
  padding: 5%;
  margin: 5% auto;
  width: 75%;
  height: 60vh;
  background: #fe936d;
  border-radius: 2%;
  font-size: 150%;
}
.box h1 {
  text-align: left;
  color: aliceblue;
  margin: 0;
  padding: 0;

  font-size: 250%;
}
.box p {
  text-align: center;
  color: aliceblue;
  margin: 0;
  padding-top: 10%;
  font-size: 400%;
}
