* {
  --button-shadow: drop-shadow(0px 5px 5px rgba(26, 26, 222, 0.2));
  --button-shadow-blue: drop-shadow(0px 0px 20px rgba(6, 6, 67, 0.4));
}
body {
  background-image: url("../img/quiz.webp");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.startButton {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.circleBox {
  margin: 40vh 50px 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonCircle {
  cursor: pointer;
  -webkit-filter: var(--button-shadow);
  filter: var(--button-shadow);
}

.buttonCircle:active {
  transform: translate(0, 3px);
  -webkit-filter: var(--button-shadow-blue);
  filter: var(--button-shadow-blue);
}

.popOutAnimation {
  animation-duration: 1.5s;
  animation-name: popOut;
}

@keyframes popOut {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -100px);
  }
  50% {
    opacity: 100;
  }
  100% {
    transform: translate(0, 100px);
    opacity: 0;
  }
}

.gameMessage p {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  user-select: none;
}

.infomation {
  text-align: center;
}
.infomation p {
  font-size: 1.5rem;
  user-select: none;
}

.miniCircleBox {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.stageNum {
  position: absolute;
  /* コンテンツが内部の要素でギリギリの幅を設定 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  top: 0;
  right: 0;
  padding: 0 25px;
}

.stageNum p {
  text-align: center;
  user-select: none;
}

.stageNum div {
  font-size: 1.4rem;
  margin: 0;
}

/* ポップアップのCSS */
.popup {
  display: none; /* 初期状態は非表示 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.question {
  position: fixed;
  left: 1.5%;
  bottom: 3%;
  width: 80px;
  height: 80px;
}
.question button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #59baff;
  border: #59baff;
  box-shadow: 3px 3px 3px black;
}
